footer {
    padding: 0rem 1.5rem;
    background: var(--background);
    box-sizing: border-box;
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
}

#footer-separator {
    height: 0;
    border: none;
    border-top: 1px solid var(--foreground);
}
