#header-block {
    width: 100%;
    background: var(--background);
    box-sizing: border-box;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 1.5rem 1rem 1.5rem;
    box-sizing: border-box;
}
