:root {
    --primary:                  #a50034;
    --secondary:                #f7c6c7;
    --foreground:               #000000;
    --background:               #ffffff;
    --backdrop:                 #d9d9d9;
    --border-radius:            5px;
    --width:                    80ch;
}
