:root {
    --primary:                  #e61946;
    --secondary:                #457b9d;
    --tertiary:                 #a8dadc;
    --foreground:               #000000;
    --background:               #ffffff;
    --backdrop:                 #f0f0f0;
    --border-radius:            5px;
    --width:                    80ch;
}
